 #TabsToolbar {visibility: collapse;}
 #navigator-toolbox {
	margin-top: -40px;
	transition: margin-top 0.5s;
}

#navigator-toolbox:hover, #navigator-toolbox:focus-within {
	margin-top: 0px;
	transition: margin-top 0.5s;
}
